.effect-container {
  position: relative;
  min-width: 100%;

  .box {
    width: 5rem;
    height: 5rem;
    margin: 0 auto;

    #icons {
      width: 100%;
      height: fit-content;
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      gap: 1rem;

      .logo {
        width: 50px;
        border-radius: 0.25rem;
        padding: 5px;
        background-color: white;
      }

      .dark-bg {
        background-color: black;
      }

      .light-bg {
        background-color: white;
      }
    }

    .desktopLogo {
      .logo {
        width: 75px !important;
        color: #ffa500;
      }
    }
  }
}
