.image-shadow {
  border-radius: 0.25rem;
  margin-bottom: 0.5rem;
  box-shadow:
    0 4px 8px rgba(0, 0, 0, 0.05),
    0 6px 10px rgba(0, 0, 0, 0.05);
}

.project-page {
  margin: 40px 0 32px;
}
.project-page__header {
  text-align: center;
}
.project-page__header__published {
  font-size: 12px;
  font-style: italic;
  margin-top: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
}
.project-page__header__published .logo-image {
  width: 24px;
  height: 24px;
  border-radius: 0.25rem;
}
.project-page__header__websiteLink {
  margin-top: 24px;
  text-align: left;
  color: white;
}
.project-page__header__quote {
  text-align: center;
  font-size: 12px;
  margin: 4px auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.project-page__header__title {
  font-weight: 600;
  font-size: 2.5rem;
  text-align: center;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  text-align: center;
  gap: 1rem;
  text-wrap: balance;
}
.project-page__header__subtitle {
  font-weight: 400;
  font-size: 1.2rem;
  margin-top: 24px;
  text-align: left;
}
.project-page__header .header-image {
  margin: 1rem auto 0.5rem;
  -o-object-fit: cover;
  object-fit: cover;
  border-radius: 0.25rem;
  box-shadow:
    0 4px 8px rgba(0, 0, 0, 0.05),
    0 6px 10px rgba(0, 0, 0, 0.1);
}
.project-page .article-wrapper p {
  margin-bottom: 0;
}
.project-page .mockup-images {
  margin-bottom: 64px;
}
.project-page .mockup-images p {
  margin-bottom: 1rem;
}
.project-page .images {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1rem;
  margin-top: 40px;
}
.project-page h2,
.project-page h3,
.project-page h4,
.project-page h5,
.project-page h6 {
  font-weight: 800;
  margin-top: 24px;
  text-wrap: pretty;
}
.project-page h2 {
  font-size: 24px;
}
.project-page h3 {
  font-size: 20px;
}
.project-page .images-gallery {
  margin-top: 64px;
}
.project-page .images-gallery__images {
  margin-top: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 3rem;
}

@media screen and (max-width: 768px) {
  .project-page {
    margin-top: 32px;
  }
  .project-page__header {
    text-align: left;
  }
  .project-page__header .header-image {
    width: 80% !important;
  }
  .project-page__header__published {
    justify-content: flex-start;
  }
  .project-page__header__quote {
    width: 80% !important;
  }
  .project-page__header__title {
    font-size: 2rem;
    text-align: left;
  }
  .project-page__header__subtitle {
    font-size: 1.1rem;
  }
  .project-page .article-wrapper .sanity-content-image {
    width: 80% !important;
  }
  .project-page .article-wrapper .sanity-content-caption {
    width: 80% !important;
  }
  .project-page .images-gallery__images__gallery-image {
    width: 80% !important;
  }
}
@media screen and (max-width: 500px) {
  .project-page__header .header-image {
    width: 100% !important;
  }
  .project-page__header__quote {
    width: 100% !important;
  }
  .project-page .article-wrapper .sanity-content-image {
    width: 100% !important;
  }
  .project-page .article-wrapper .sanity-content-caption {
    width: 100% !important;
  }
  .project-page .images-gallery__images__gallery-image {
    width: 100% !important;
  }
} /*# sourceMappingURL=projectPage.css.map */
