.project-page {
  margin-top: 64px;
  &__header {
    text-align: center;
    @media screen and (max-width: 768px) {
      text-align: left;
    }
    .header-image {
      margin-top: 1rem;
      min-width: 100%;

      object-fit: cover;
    }

    &__published {
      font-size: 12px;
      font-style: italic;
      margin-top: 24px;
    }

    &__quote {
      text-align: center;
      font-size: 12px;
      margin: 4px;
    }

    &__title {
      font-weight: 600;
      font-size: 2.5rem;
      text-align: center;
      display: inline-flex;
      align-items: center;
      justify-content: center;
      margin: 0 auto;
      text-align: center;
      gap: 1rem;

      .logo-image {
        width: 50px;
        height: 50px;
      }

      @media screen and (max-width: 768px) {
        font-size: 20px;
        text-align: left;

        .logo-image {
          width: 40px;
          height: 40px;
        }
      }
    }

    &__subtitle {
      font-weight: 400;
      font-size: 1.2rem;
      margin-top: 24px;
      text-align: left;
    }

    &__websiteLink {
      margin-top: 24px;
      text-align: left;
    }
  }

  .article-wrapper {
    p {
      margin-bottom: 0;
    }
  }

  .images {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1rem;
    margin-top: 40px;
  }

  h2,
  h3,
  h4,
  h5,
  h6 {
    font-weight: 800;
    margin-top: 24px;
  }

  h2 {
    font-size: 24px;
  }

  h3 {
    font-size: 20px;
  }

  .images-gallery {
    .images {
      display: flex;
      gap: 3rem;
    }
  }
}
