.image-shadow {
  border-radius: 0.25rem;
  margin-bottom: 0.5rem;
  box-shadow:
    0 4px 8px rgba(0, 0, 0, 0.05),
    0 6px 10px rgba(0, 0, 0, 0.05);
}

.project-page {
  margin: 64px 0 32px;
  &__header {
    text-align: center;

    &__published {
      font-size: 12px;
      font-style: italic;
      margin-top: 24px;
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 0.5rem;

      .logo-image {
        width: 24px;
        height: 24px;
        border-radius: 0.25rem;
      }
    }

    &__websiteLink {
      margin-top: 24px;
      text-align: left;
      color: white;
    }

    &__quote {
      text-align: center;
      font-size: 12px;
      margin: 4px auto;
    }

    &__title {
      font-weight: 600;
      font-size: 2.5rem;
      text-align: center;
      display: inline-flex;
      align-items: center;
      justify-content: center;
      margin: 0 auto;
      text-align: center;
      gap: 1rem;
      text-wrap: balance;
    }

    &__subtitle {
      font-weight: 400;
      font-size: 1.2rem;
      margin-top: 24px;
      text-align: left;
    }

    .header-image {
      margin: 1rem auto 0.5rem;
      object-fit: cover;
      border-radius: 0.25rem;
      box-shadow:
        0 4px 8px rgba(0, 0, 0, 0.05),
        0 6px 10px rgba(0, 0, 0, 0.1);
    }
  }

  .article-wrapper {
    p {
      margin-bottom: 0;
    }

    .sanity-content-image {
    }
  }

  .mockup-images {
    margin-bottom: 64px;
    p {
      margin-bottom: 1rem;
    }
  }

  .images {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1rem;
    margin-top: 40px;
  }

  h2,
  h3,
  h4,
  h5,
  h6 {
    font-weight: 800;
    margin-top: 24px;
    text-wrap: pretty;
  }

  h2 {
    font-size: 24px;
  }

  h3 {
    font-size: 20px;
  }

  .images-gallery {
    margin-top: 64px;
    &__images {
      margin-top: 2rem;
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 3rem;
    }
  }
}

@media screen and (max-width: 768px) {
  .project-page {
    margin-top: 32px;
    &__header {
      text-align: left;
      .header-image {
        width: 80% !important;
      }

      &__published {
        justify-content: flex-start;
      }

      &__quote {
        width: 80% !important;
      }

      &__title {
        font-size: 2rem;
        text-align: left;
      }

      &__subtitle {
        font-size: 1.1rem;
      }
    }

    .article-wrapper {
      .sanity-content-image {
        width: 80% !important;
      }

      .sanity-content-caption {
        width: 80% !important;
      }
    }

    .images-gallery {
      &__images {
        &__gallery-image {
          width: 80% !important;
        }
      }
    }
  }
}

@media screen and (max-width: 500px) {
  .project-page {
    &__header {
      .header-image {
        width: 100% !important;
      }

      &__published {
      }

      &__quote {
        width: 100% !important;
      }

      &__title {
      }

      &__subtitle {
      }
    }

    .article-wrapper {
      .sanity-content-image {
        width: 100% !important;
      }

      .sanity-content-caption {
        width: 100% !important;
      }
    }

    .images-gallery {
      &__images {
        &__gallery-image {
          width: 100% !important;
        }
      }
    }
  }
}
