.contact {
  width: 100%;
  max-width: 600px;
  margin: 200px auto 84px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 40px;

  .header {
    display: flex;
    flex-direction: column;
    align-items: center;

    .textBackgroundImage {
      max-width: 500px;
    }
  }
}
